<!-- The content below is only a placeholder and can be replaced. -->
<div
  class="container text-center mvh-100 d-flex flex-column justify-content-center"
>
  <h6>Welcome to Hell Jerk</h6>
  <h2>{{ title }}</h2>
  <div class="row align-items-center py-3">
    <div class="col-md-6">
      <img
        class="img-fluid"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      />
    </div>
    <div class="col-md-6">
      <img class="img-fluid mt-4" src="https://goo.gl/images/EmWN5D" />
    </div>
    <div class="col-12 py-3">
      <button>
        class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal"
        > More
      </button>
    </div>
  </div>
  <div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content flex-grow-1">
        <div class="modal-header">
          <h5 class="modal-title">Hello Modal</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="lead">My modal works!</p>
          <p>
            This is a simple working Angular 7 app that utilizes Bootstrap 4.
            This modal is an example of one of the many Bootstrap components.
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            data-dismiss="modal"
            class="mx-auto btn btn-secondary"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
